# Dependências
node_modules/
**/node_modules/

# Next.js
.next/
out/

# Builds
build/
dist/
coverage/

# Expo / React Native
.expo/
.expo-shared/
android/
ios/

# Arquivos de ambiente


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache e temporários
*.log
*.tmp
*.temp
.cache/
.tmp/

# IDEs
.vscode/
.idea/

# Banco local / dados locais
*.sqlite
*.sqlite3
db-data/

# Sistema
.DS_Store
Thumbs.db